[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
alembic = "*"
boto3 = "*"
botocore = "*"
celery = "*"
django = "*"
django-cors-headers = "*"
django-filter = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
drf-extra-fields = "*"
drf-yasg = "*"
fastapi = "*"
firebase-admin = "*"
gunicorn = "*"
pillow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
redis = "*"
requests = "*"
sqlalchemy = "*"
uvicorn = "*"
pytest = "*"
pydantic = "*"
beautifulsoup4 = "*"
aiofiles = "*"
mypy = "*"
bcrypt = "*"

[dev-packages]
model-bakery = "*"
openpyxl = "*"
pylint = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
